In [213]:
import pandas as pd
from sqlalchemy import create_engine
!pip install psycopg2

Requirement already satisfied: psycopg2 in c:\users\kwad\anaconda3\lib\site-packages (2.8.2)

In [214]:
insurance = pd.read_csv("Health/insurance.csv")
insurance.head(10)

,State,Uninsured Rate (2010),Uninsured Rate (2015),Uninsured Rate Change (2010-2015),Health Insurance Coverage Change (2010-2015),Employer Health Insurance Coverage (2015),Marketplace Health Insurance Coverage (2016),Marketplace Tax Credits (2016),Average Monthly Tax Credit (2016),State Medicaid Expansion (2016),Medicaid Enrollment (2013),Medicaid Enrollment (2016),Medicaid Enrollment Change (2013-2016),Medicare Enrollment (2016)
0,Alabama,14.60%,10.10%,-4.50%,215000,2545000,165534,152206,$310,False,799176.0,910775,111599.0,989855
1,Alaska,19.90%,14.90%,-5%,36000,390000,17995,16205,$750,True,122334.0,166625,44291.0,88966
2,Arizona,16.90%,10.80%,-6.10%,410000,3288000,179445,124346,$230,True,1201770.0,1716198,514428.0,1175624
3,Arkansas,17.50%,9.50%,-8%,234000,1365000,63357,56843,$306,True,556851.0,920194,363343.0,606146
4,California,18.50%,8.60%,-9.90%,3826000,19552000,1415428,1239893,$309,True,7755381.0,11843081,4087700.0,5829777
5,Colorado,15.90%,8.10%,-7.80%,419000,2949000,108311,67062,$318,True,783420.0,1375264,591844.0,820234
6,Connecticut,9.10%,6%,-3.10%,110000,2148000,102917,80759,$357,True,NaN,761137,NaN,644136
7,Delaware,9.70%,5.90%,-3.80%,35000,564000,25379,21467,$330,True,223324.0,236702,13378.0,186835
8,District of Columbia,7.60%,3.80%,-3.80%,25000,388000,17666,1224,$183,True,235786.0,255491,19705.0,90492
9,Florida,21.30%,13.30%,-8%,1597000,8847000,1531714,1428712,$305,False,3104996.0,3644673,539677.0,4149593

In [215]:
insurance.rename(columns = {"Uninsured Rate (2010)":"Uninsured Rate_2010"}, inplace = True)
insurance

,State,Uninsured Rate_2010,Uninsured Rate (2015),Uninsured Rate Change (2010-2015),Health Insurance Coverage Change (2010-2015),Employer Health Insurance Coverage (2015),Marketplace Health Insurance Coverage (2016),Marketplace Tax Credits (2016),Average Monthly Tax Credit (2016),State Medicaid Expansion (2016),Medicaid Enrollment (2013),Medicaid Enrollment (2016),Medicaid Enrollment Change (2013-2016),Medicare Enrollment (2016)
0,Alabama,14.60%,10.10%,-4.50%,215000,2545000,165534,152206,$310,False,799176.0,910775,111599.0,989855
1,Alaska,19.90%,14.90%,-5%,36000,390000,17995,16205,$750,True,122334.0,166625,44291.0,88966
2,Arizona,16.90%,10.80%,-6.10%,410000,3288000,179445,124346,$230,True,1201770.0,1716198,514428.0,1175624
3,Arkansas,17.50%,9.50%,-8%,234000,1365000,63357,56843,$306,True,556851.0,920194,363343.0,606146
4,California,18.50%,8.60%,-9.90%,3826000,19552000,1415428,1239893,$309,True,7755381.0,11843081,4087700.0,5829777
5,Colorado,15.90%,8.10%,-7.80%,419000,2949000,108311,67062,$318,True,783420.0,1375264,591844.0,820234
6,Connecticut,9.10%,6%,-3.10%,110000,2148000,102917,80759,$357,True,NaN,761137,NaN,644136
7,Delaware,9.70%,5.90%,-3.80%,35000,564000,25379,21467,$330,True,223324.0,236702,13378.0,186835
8,District of Columbia,7.60%,3.80%,-3.80%,25000,388000,17666,1224,$183,True,235786.0,255491,19705.0,90492
9,Florida,21.30%,13.30%,-8%,1597000,8847000,1531714,1428712,$305,False,3104996.0,3644673,539677.0,4149593
10,Georgia,19.70%,13.90%,-5.80%,581000,5240000,478016,427353,$291,False,1535090.0,1782301,247211.0,1574058
11,Hawaii,7.90%,4%,-3.90%,54000,867000,13313,10958,$270,True,288357.0,341200,52843.0,252514
12,Idaho,17.70%,11%,-6.70%,109000,836000,94270,82802,$265,False,238150.0,293905,55755.0,294284
13,Illinois,13.80%,7.10%,-6.70%,850000,7359000,335243,259701,$237,True,2626943.0,3117939,490996.0,2118300
14,Indiana,14.80%,9.60%,-5.20%,339000,3825000,168884,139437,$259,True,1120674.0,1489805,369131.0,1181014
15,Iowa,9.30%,5%,-4.30%,132000,1862000,48949,42595,$307,True,493515.0,619055,125540.0,587780
16,Kansas,13.90%,9.10%,-4.80%,137000,1659000,89566,75815,$247,False,378160.0,421638,43478.0,499753
17,Kentucky,15.30%,6%,-9.30%,404000,2316000,74640,56488,$258,True,606805.0,1220788,613983.0,881938
18,Louisiana,17.80%,11.90%,-5.90%,269000,2295000,184403,170806,$362,True,1019787.0,1328708,308921.0,817272
19,Maine,10.10%,8.40%,-1.70%,22000,702000,75240,63896,$342,False,NaN,273160,NaN,315160
20,Maryland,11.30%,6.60%,-4.70%,278000,3700000,135208,100844,$243,True,856297.0,1252304,396007.0,960848
21,Massachusetts,4.40%,2.80%,-1.60%,107000,4232000,207121,157751,$190,True,1296359.0,1684328,387969.0,1252277
22,Michigan,12.40%,6.10%,-6.30%,618000,5876000,313123,275080,$233,True,1912009.0,2300958,388949.0,1947787
23,Minnesota,9.10%,4.50%,-4.60%,250000,3319000,74060,47266,$203,True,873040.0,1051509,178469.0,944222
24,Mississippi,18.20%,12.70%,-5.50%,161000,1326000,77747,73246,$306,False,637229.0,693869,56640.0,571699
25,Missouri,13.20%,9.80%,-3.40%,203000,3389000,252044,225878,$315,False,846084.0,967284,121200.0,1163543
26,Montana,17.30%,11.60%,-5.70%,58000,510000,51758,44091,$306,True,148974.0,224048,75074.0,209389
27,Nebraska,11.50%,8.20%,-3.30%,62000,1100000,80213,72091,$296,False,244600.0,242702,-1898.0,322796
28,Nevada,22.60%,12.30%,-10.30%,294000,1505000,79876,71472,$268,True,332560.0,614298,281738.0,471747
29,New Hampshire,11.10%,6.30%,-4.80%,63000,853000,49114,31151,$261,True,127082.0,189429,62347.0,275803
30,New Jersey,13.20%,8.70%,-4.50%,398000,5450000,249395,205242,$322,True,1283851.0,1784529,500678.0,1528961
31,New Mexico,19.60%,10.90%,-8.70%,178000,884000,47497,32703,$212,True,457678.0,766732,309054.0,385918
32,New York,11.90%,7.10%,-4.80%,939000,10895000,224014,123830,$178,True,5678417.0,6431165,752748.0,3424666
33,North Carolina,16.80%,11.20%,-5.60%,552000,4934000,545354,499178,$401,False,1595952.0,2072282,476330.0,1823454
34,North Dakota,9.80%,7.80%,-2%,15000,450000,20536,17630,$262,True,69980.0,89763,19783.0,122294
35,Ohio,12.30%,6.50%,-5.80%,664000,6831000,212046,174448,$250,True,2341481.0,3003170,661689.0,2208504
36,Oklahoma,18.90%,13.90%,-5%,192000,1948000,130178,113209,$298,False,790051.0,788544,-1507.0,693677
37,Oregon,17.10%,7%,-10.10%,403000,2070000,131167,95507,$253,True,626356.0,1021862,395506.0,784032
38,Pennsylvania,10.20%,6.40%,-3.80%,479000,7502000,412347,321345,$248,True,2386046.0,2883114,497068.0,2588577
39,Rhode Island,12.20%,5.70%,-6.50%,68000,597000,35583,30015,$250,True,190833.0,287173,96340.0,208324
40,South Carolina,17.50%,10.90%,-6.60%,317000,2487000,204846,186345,$312,False,889744.0,994804,105060.0,974114
41,South Dakota,12.40%,10.20%,-2.20%,19000,449000,24578,22005,$307,False,115501.0,119835,4334.0,161464
42,Tennessee,14.40%,10.30%,-4.10%,266000,3369000,231705,203112,$299,False,1244516.0,1627100,382584.0,1266920
43,Texas,23.70%,17.10%,-6.60%,1781000,13709000,1092650,913177,$271,False,4441605.0,4770229,328624.0,3765946
44,Utah,15.30%,10.50%,-4.80%,143000,1897000,164415,145288,$187,False,294029.0,314182,20153.0,358887
45,Vermont,8%,3.80%,-4.20%,26000,345000,27883,19575,$300,True,161081.0,175597,14516.0,136021
46,Virginia,13.10%,9.10%,-4%,327000,4850000,378838,319068,$276,False,935434.0,988821,53387.0,1392261
47,Washington,14.20%,6.60%,-7.60%,537000,3986000,158245,110476,$238,True,1117576.0,1788536,670960.0,1238649
48,West Virginia,14.60%,6%,-8.60%,156000,976000,33235,29163,$388,True,354544.0,575645,221101.0,423500
49,Wisconsin,9.40%,5.70%,-3.70%,211000,3521000,224208,190542,$332,False,985531.0,1046897,61366.0,1084854
50,Wyoming,14.90%,11.50%,-3.40%,20000,335000,22076,20313,$459,False,67518.0,63583,-3935.0,99128
51,United States,15.50%,9.40%,6.10%,19304000,172292000,11081330,9389609,$291,NaN,56392477.0,73532931,16106157.0,57149984

In [216]:
insurance.rename(columns ={"Uninsured Rate (2015)": "Uninsured Rate_2015"}, inplace = True)
insurance

,State,Uninsured Rate_2010,Uninsured Rate_2015,Uninsured Rate Change (2010-2015),Health Insurance Coverage Change (2010-2015),Employer Health Insurance Coverage (2015),Marketplace Health Insurance Coverage (2016),Marketplace Tax Credits (2016),Average Monthly Tax Credit (2016),State Medicaid Expansion (2016),Medicaid Enrollment (2013),Medicaid Enrollment (2016),Medicaid Enrollment Change (2013-2016),Medicare Enrollment (2016)
0,Alabama,14.60%,10.10%,-4.50%,215000,2545000,165534,152206,$310,False,799176.0,910775,111599.0,989855
1,Alaska,19.90%,14.90%,-5%,36000,390000,17995,16205,$750,True,122334.0,166625,44291.0,88966
2,Arizona,16.90%,10.80%,-6.10%,410000,3288000,179445,124346,$230,True,1201770.0,1716198,514428.0,1175624
3,Arkansas,17.50%,9.50%,-8%,234000,1365000,63357,56843,$306,True,556851.0,920194,363343.0,606146
4,California,18.50%,8.60%,-9.90%,3826000,19552000,1415428,1239893,$309,True,7755381.0,11843081,4087700.0,5829777
5,Colorado,15.90%,8.10%,-7.80%,419000,2949000,108311,67062,$318,True,783420.0,1375264,591844.0,820234
6,Connecticut,9.10%,6%,-3.10%,110000,2148000,102917,80759,$357,True,NaN,761137,NaN,644136
7,Delaware,9.70%,5.90%,-3.80%,35000,564000,25379,21467,$330,True,223324.0,236702,13378.0,186835
8,District of Columbia,7.60%,3.80%,-3.80%,25000,388000,17666,1224,$183,True,235786.0,255491,19705.0,90492
9,Florida,21.30%,13.30%,-8%,1597000,8847000,1531714,1428712,$305,False,3104996.0,3644673,539677.0,4149593
10,Georgia,19.70%,13.90%,-5.80%,581000,5240000,478016,427353,$291,False,1535090.0,1782301,247211.0,1574058
11,Hawaii,7.90%,4%,-3.90%,54000,867000,13313,10958,$270,True,288357.0,341200,52843.0,252514
12,Idaho,17.70%,11%,-6.70%,109000,836000,94270,82802,$265,False,238150.0,293905,55755.0,294284
13,Illinois,13.80%,7.10%,-6.70%,850000,7359000,335243,259701,$237,True,2626943.0,3117939,490996.0,2118300
14,Indiana,14.80%,9.60%,-5.20%,339000,3825000,168884,139437,$259,True,1120674.0,1489805,369131.0,1181014
15,Iowa,9.30%,5%,-4.30%,132000,1862000,48949,42595,$307,True,493515.0,619055,125540.0,587780
16,Kansas,13.90%,9.10%,-4.80%,137000,1659000,89566,75815,$247,False,378160.0,421638,43478.0,499753
17,Kentucky,15.30%,6%,-9.30%,404000,2316000,74640,56488,$258,True,606805.0,1220788,613983.0,881938
18,Louisiana,17.80%,11.90%,-5.90%,269000,2295000,184403,170806,$362,True,1019787.0,1328708,308921.0,817272
19,Maine,10.10%,8.40%,-1.70%,22000,702000,75240,63896,$342,False,NaN,273160,NaN,315160
20,Maryland,11.30%,6.60%,-4.70%,278000,3700000,135208,100844,$243,True,856297.0,1252304,396007.0,960848
21,Massachusetts,4.40%,2.80%,-1.60%,107000,4232000,207121,157751,$190,True,1296359.0,1684328,387969.0,1252277
22,Michigan,12.40%,6.10%,-6.30%,618000,5876000,313123,275080,$233,True,1912009.0,2300958,388949.0,1947787
23,Minnesota,9.10%,4.50%,-4.60%,250000,3319000,74060,47266,$203,True,873040.0,1051509,178469.0,944222
24,Mississippi,18.20%,12.70%,-5.50%,161000,1326000,77747,73246,$306,False,637229.0,693869,56640.0,571699
25,Missouri,13.20%,9.80%,-3.40%,203000,3389000,252044,225878,$315,False,846084.0,967284,121200.0,1163543
26,Montana,17.30%,11.60%,-5.70%,58000,510000,51758,44091,$306,True,148974.0,224048,75074.0,209389
27,Nebraska,11.50%,8.20%,-3.30%,62000,1100000,80213,72091,$296,False,244600.0,242702,-1898.0,322796
28,Nevada,22.60%,12.30%,-10.30%,294000,1505000,79876,71472,$268,True,332560.0,614298,281738.0,471747
29,New Hampshire,11.10%,6.30%,-4.80%,63000,853000,49114,31151,$261,True,127082.0,189429,62347.0,275803
30,New Jersey,13.20%,8.70%,-4.50%,398000,5450000,249395,205242,$322,True,1283851.0,1784529,500678.0,1528961
31,New Mexico,19.60%,10.90%,-8.70%,178000,884000,47497,32703,$212,True,457678.0,766732,309054.0,385918
32,New York,11.90%,7.10%,-4.80%,939000,10895000,224014,123830,$178,True,5678417.0,6431165,752748.0,3424666
33,North Carolina,16.80%,11.20%,-5.60%,552000,4934000,545354,499178,$401,False,1595952.0,2072282,476330.0,1823454
34,North Dakota,9.80%,7.80%,-2%,15000,450000,20536,17630,$262,True,69980.0,89763,19783.0,122294
35,Ohio,12.30%,6.50%,-5.80%,664000,6831000,212046,174448,$250,True,2341481.0,3003170,661689.0,2208504
36,Oklahoma,18.90%,13.90%,-5%,192000,1948000,130178,113209,$298,False,790051.0,788544,-1507.0,693677
37,Oregon,17.10%,7%,-10.10%,403000,2070000,131167,95507,$253,True,626356.0,1021862,395506.0,784032
38,Pennsylvania,10.20%,6.40%,-3.80%,479000,7502000,412347,321345,$248,True,2386046.0,2883114,497068.0,2588577
39,Rhode Island,12.20%,5.70%,-6.50%,68000,597000,35583,30015,$250,True,190833.0,287173,96340.0,208324
40,South Carolina,17.50%,10.90%,-6.60%,317000,2487000,204846,186345,$312,False,889744.0,994804,105060.0,974114
41,South Dakota,12.40%,10.20%,-2.20%,19000,449000,24578,22005,$307,False,115501.0,119835,4334.0,161464
42,Tennessee,14.40%,10.30%,-4.10%,266000,3369000,231705,203112,$299,False,1244516.0,1627100,382584.0,1266920
43,Texas,23.70%,17.10%,-6.60%,1781000,13709000,1092650,913177,$271,False,4441605.0,4770229,328624.0,3765946
44,Utah,15.30%,10.50%,-4.80%,143000,1897000,164415,145288,$187,False,294029.0,314182,20153.0,358887
45,Vermont,8%,3.80%,-4.20%,26000,345000,27883,19575,$300,True,161081.0,175597,14516.0,136021
46,Virginia,13.10%,9.10%,-4%,327000,4850000,378838,319068,$276,False,935434.0,988821,53387.0,1392261
47,Washington,14.20%,6.60%,-7.60%,537000,3986000,158245,110476,$238,True,1117576.0,1788536,670960.0,1238649
48,West Virginia,14.60%,6%,-8.60%,156000,976000,33235,29163,$388,True,354544.0,575645,221101.0,423500
49,Wisconsin,9.40%,5.70%,-3.70%,211000,3521000,224208,190542,$332,False,985531.0,1046897,61366.0,1084854
50,Wyoming,14.90%,11.50%,-3.40%,20000,335000,22076,20313,$459,False,67518.0,63583,-3935.0,99128
51,United States,15.50%,9.40%,6.10%,19304000,172292000,11081330,9389609,$291,NaN,56392477.0,73532931,16106157.0,57149984

In [217]:
new_insurance = insurance[["State","Uninsured Rate_2010","Uninsured Rate_2015"]]
new_insurance

                   State Uninsured Rate_2010 Uninsured Rate_2015
0               Alabama               14.60%              10.10%
1                Alaska               19.90%              14.90%
2               Arizona               16.90%              10.80%
3              Arkansas               17.50%               9.50%
4             California              18.50%               8.60%
5               Colorado              15.90%               8.10%
6            Connecticut               9.10%                  6%
7              Delaware                9.70%               5.90%
8   District of Columbia               7.60%               3.80%
9               Florida               21.30%              13.30%
10              Georgia               19.70%              13.90%
11                Hawaii               7.90%                  4%
12                 Idaho              17.70%                 11%
13             Illinois               13.80%               7.10%
14              Indiana               14.80%               9.60%
15                 Iowa                9.30%                  5%
16               Kansas               13.90%               9.10%
17              Kentucky              15.30%                  6%
18            Louisiana               17.80%              11.90%
19                Maine               10.10%               8.40%
20              Maryland              11.30%               6.60%
21         Massachusetts               4.40%               2.80%
22             Michigan               12.40%               6.10%
23             Minnesota               9.10%               4.50%
24          Mississippi               18.20%              12.70%
25             Missouri               13.20%               9.80%
26              Montana               17.30%              11.60%
27             Nebraska               11.50%               8.20%
28                Nevada              22.60%              12.30%
29        New Hampshire               11.10%               6.30%
30           New Jersey               13.20%               8.70%
31            New Mexico              19.60%              10.90%
32              New York              11.90%               7.10%
33       North Carolina               16.80%              11.20%
34         North Dakota                9.80%               7.80%
35                 Ohio               12.30%               6.50%
36             Oklahoma               18.90%              13.90%
37                Oregon              17.10%                  7%
38         Pennsylvania               10.20%               6.40%
39          Rhode Island              12.20%               5.70%
40       South Carolina               17.50%              10.90%
41         South Dakota               12.40%              10.20%
42            Tennessee               14.40%              10.30%
43                Texas               23.70%              17.10%
44                 Utah               15.30%              10.50%
45               Vermont                  8%               3.80%
46             Virginia               13.10%               9.10%
47            Washington              14.20%               6.60%
48        West Virginia               14.60%                  6%
49            Wisconsin                9.40%               5.70%
50               Wyoming              14.90%              11.50%
51         United States              15.50%               9.40%

In [218]:
employment = pd.read_csv("Unemployment/Unemployment.csv")
employment.head(10)

,FIPS Code,State,Area_name,Rural_urban_continuum_code_2013,Urban_influence_code_2013,Metro_2015,Civilian_labor_force_2007,Employed_2007,Unemployed_2007,Unemployment_rate_2007,...,Civilian_labor_force_2015,Employed_2015,Unemployed_2015,Unemployment_rate_2015,Civilian_labor_force_2016,Employed_2016,Unemployed_2016,Unemployment_rate_2016,Med_Household_Income_2015,Med_HH_Income_Percent_of_State_Total_2015
0,1000,AL,Alabama,NaN,NaN,NaN,"2,175,612","2,089,127","86,485",4.0,...,"2,152,289","2,020,675","131,614",6.1,"2,168,608","2,038,775","129,833",6.0,"44,833",100.0
1,1001,AL,"Autauga County, AL",2.0,2.0,1.0,"24,383","23,577",806,3.3,...,"25,303","23,971","1,332",5.3,"25,649","24,297","1,352",5.3,"56,580",126.2
2,1003,AL,"Baldwin County, AL",3.0,2.0,1.0,"82,659","80,099","2,560",3.1,...,"87,756","82,882","4,874",5.6,"89,931","85,061","4,870",5.4,"52,387",116.8
3,1005,AL,"Barbour County, AL",6.0,6.0,0.0,"10,334","9,684",650,6.3,...,"8,646","7,881",765,8.8,"8,302","7,584",718,8.6,"31,433",70.1
4,1007,AL,"Bibb County, AL",1.0,1.0,1.0,"8,791","8,432",359,4.1,...,"8,526","7,957",569,6.7,"8,573","8,004",569,6.6,"40,767",90.9
5,1009,AL,"Blount County, AL",1.0,1.0,1.0,"26,629","25,780",849,3.2,...,"24,343","23,021","1,322",5.4,"24,525","23,171","1,354",5.5,"50,487",112.6
6,1011,AL,"Bullock County, AL",6.0,6.0,0.0,"3,653","3,308",345,9.4,...,"4,779","4,400",379,7.9,"4,811","4,466",345,7.2,"28,251",63.0
7,1013,AL,"Butler County, AL",6.0,6.0,0.0,"9,099","8,539",560,6.2,...,"9,155","8,460",695,7.6,"9,132","8,481",651,7.1,"33,868",75.5
8,1015,AL,"Calhoun County, AL",3.0,2.0,1.0,"54,861","52,709","2,152",3.9,...,"46,048","42,813","3,235",7.0,"45,794","42,727","3,067",6.7,"42,091",93.9
9,1017,AL,"Chambers County, AL",6.0,5.0,0.0,"15,474","14,469","1,005",6.5,...,"15,074","14,167",907,6.0,"15,134","14,295",839,5.5,"35,560",79.3

In [219]:
states = ["Alabama","Alaska","Arizona","Arkansas","California","Colorado",
  "Connecticut","Delaware","Florida","Georgia","Hawaii","Idaho","Illinois",
  "Indiana","Iowa","Kansas","Kentucky","Louisiana","Maine","Maryland",
  "Massachusetts","Michigan","Minnesota","Mississippi","Missouri","Montana",
  "Nebraska","Nevada","New Hampshire","New Jersey","New Mexico","New York",
  "North Carolina","North Dakota","Ohio","Oklahoma","Oregon","Pennsylvania",
  "Rhode Island","South Carolina","South Dakota","Tennessee","Texas","Utah",
  "Vermont","Virginia","Washington","West Virginia","Wisconsin","Wyoming"]

In [220]:

employment = employment.loc[employment['Area_name'].isin(states)]

In [221]:
employment

,FIPS Code,State,Area_name,Rural_urban_continuum_code_2013,Urban_influence_code_2013,Metro_2015,Civilian_labor_force_2007,Employed_2007,Unemployed_2007,Unemployment_rate_2007,...,Civilian_labor_force_2015,Employed_2015,Unemployed_2015,Unemployment_rate_2015,Civilian_labor_force_2016,Employed_2016,Unemployed_2016,Unemployment_rate_2016,Med_Household_Income_2015,Med_HH_Income_Percent_of_State_Total_2015
0,1000,AL,Alabama,NaN,NaN,NaN,"2,175,612","2,089,127","86,485",4.0,...,"2,152,289","2,020,675","131,614",6.1,"2,168,608","2,038,775","129,833",6.0,"44,833",100.0
68,2000,AK,Alaska,NaN,NaN,NaN,"350,785","328,579","22,206",6.3,...,"362,663","339,308","23,355",6.4,"360,426","336,620","23,806",6.6,"73,391",100.0
101,4000,AZ,Arizona,NaN,NaN,NaN,"3,034,016","2,917,117","116,899",3.9,...,"3,164,881","2,974,068","190,813",6.0,"3,237,864","3,066,264","171,600",5.3,"51,473",100.0
117,5000,AR,Arkansas,NaN,NaN,NaN,"1,369,284","1,296,572","72,712",5.3,...,"1,332,579","1,265,174","67,405",5.1,"1,342,691","1,288,994","53,697",4.0,"42,046",100.0
193,6000,CA,California,NaN,NaN,NaN,"17,893,080","16,931,590","961,490",5.4,...,"18,893,152","17,723,266","1,169,886",6.2,"19,102,726","18,065,043","1,037,683",5.4,"64,483",100.0
252,8000,Co,Colorado,NaN,NaN,NaN,"2,664,677","2,565,218","99,459",3.7,...,"2,833,509","2,722,985","110,524",3.9,"2,891,046","2,795,233","95,813",3.3,"63,945",100.0
317,9000,CT,Connecticut,NaN,NaN,NaN,"1,856,209","1,773,159","83,050",4.5,...,"1,890,506","1,782,269","108,237",5.7,"1,891,792","1,795,519","96,273",5.1,"71,333",100.0
326,10000,DE,Delaware,NaN,NaN,NaN,"443,573","428,312","15,261",3.4,...,"467,226","444,629","22,597",4.8,"472,676","451,973","20,703",4.4,"61,327",100.0
332,12000,FL,Florida,NaN,NaN,NaN,"9,157,124","8,789,770","367,354",4.0,...,"9,618,672","9,097,880","520,792",5.4,"9,838,935","9,358,571","480,364",4.9,"49,416",100.0
400,13000,GA,Georgia,NaN,NaN,NaN,"4,815,818","4,597,640","218,178",4.5,...,"4,787,364","4,502,021","285,343",6.0,"4,920,464","4,656,255","264,209",5.4,"51,225",100.0
560,15000,HI,Hawaii,NaN,NaN,NaN,"638,395","620,535","17,860",2.8,...,"674,910","650,767","24,143",3.6,"685,378","664,690","20,688",3.0,"73,097",100.0
565,16000,ID,Idaho,NaN,NaN,NaN,"754,438","731,235","23,203",3.1,...,"797,049","763,402","33,647",4.2,"814,571","783,434","31,137",3.8,"48,311",100.0
610,17000,IL,Illinois,NaN,NaN,NaN,"6,665,601","6,334,010","331,591",5.0,...,"6,507,312","6,120,860","386,452",5.9,"6,539,008","6,154,867","384,141",5.9,"59,590",100.0
713,18000,IN,Indiana,NaN,NaN,NaN,"3,207,687","3,061,042","146,645",4.6,...,"3,271,536","3,114,002","157,534",4.8,"3,326,893","3,179,806","147,087",4.4,"50,510",100.0
806,19000,IA,Iowa,NaN,NaN,NaN,"1,660,677","1,599,332","61,345",3.7,...,"1,702,569","1,637,667","64,902",3.8,"1,700,683","1,638,288","62,395",3.7,"54,843",100.0
906,20000,KS,Kansas,NaN,NaN,NaN,"1,483,458","1,420,449","63,009",4.2,...,"1,489,165","1,426,764","62,401",4.2,"1,484,001","1,422,122","61,879",4.2,"53,802",100.0
1012,21000,KY,Kentucky,NaN,NaN,NaN,"2,032,082","1,922,220","109,862",5.4,...,"1,965,666","1,861,522","104,144",5.3,"1,991,974","1,892,273","99,701",5.0,"45,178",100.0
1133,22000,LA,Louisiana,NaN,NaN,NaN,"2,030,434","1,944,038","86,396",4.3,...,"2,161,017","2,024,142","136,875",6.3,"2,121,230","1,992,125","129,105",6.1,"45,829",100.0
1198,23000,ME,Maine,NaN,NaN,NaN,"700,468","667,781","32,687",4.7,...,"682,701","652,777","29,924",4.4,"690,624","664,010","26,614",3.9,"51,419",100.0
1215,24000,MD,Maryland,NaN,NaN,NaN,"2,970,094","2,867,348","102,746",3.5,...,"3,147,440","2,986,815","160,625",5.1,"3,170,011","3,034,131","135,880",4.3,"75,784",100.0
1240,25000,MA,Massachusetts,NaN,NaN,NaN,"3,426,009","3,268,096","157,913",4.6,...,"3,579,691","3,405,825","173,866",4.9,"3,588,610","3,455,827","132,783",3.7,"70,659",100.0
1255,26000,MI,Michigan,NaN,NaN,NaN,"5,011,120","4,658,939","352,181",7.0,...,"4,757,457","4,499,998","257,459",5.4,"4,836,760","4,599,049","237,711",4.9,"51,063",100.0
1339,27000,MN,Minnesota,NaN,NaN,NaN,"2,906,390","2,773,704","132,686",4.6,...,"2,975,533","2,864,584","110,949",3.7,"3,001,131","2,884,091","117,040",3.9,"63,459",100.0
1427,28000,MS,Mississippi,NaN,NaN,NaN,"1,303,514","1,224,059","79,455",6.1,...,"1,269,933","1,188,592","81,341",6.4,"1,280,432","1,205,779","74,653",5.8,"40,630",100.0
1510,29000,MO,Missouri,NaN,NaN,NaN,"3,034,579","2,879,647","154,932",5.1,...,"3,096,678","2,941,821","154,857",5.0,"3,111,517","2,970,702","140,815",4.5,"50,200",100.0
1626,30000,MT,Montana,NaN,NaN,NaN,"502,070","484,189","17,881",3.6,...,"519,665","498,092","21,573",4.2,"526,404","504,573","21,831",4.1,"49,650",100.0
1683,31000,NE,Nebraska,NaN,NaN,NaN,"978,763","949,494","29,269",3.0,...,"1,008,388","977,669","30,719",3.0,"1,011,041","978,567","32,474",3.2,"55,073",100.0
1777,32000,NV,Nevada,NaN,NaN,NaN,"1,330,396","1,270,572","59,824",4.5,...,"1,414,711","1,318,473","96,238",6.8,"1,427,114","1,346,008","81,106",5.7,"52,544",100.0
1795,33000,NH,New Hampshire,NaN,NaN,NaN,"737,942","712,008","25,934",3.5,...,"742,789","717,726","25,063",3.4,"748,563","727,420","21,143",2.8,"70,003",100.0
1806,34000,NJ,New Jersey,NaN,NaN,NaN,"4,441,797","4,251,815","189,982",4.3,...,"4,530,546","4,267,904","262,642",5.8,"4,524,258","4,299,931","224,327",5.0,"72,337",100.0
1828,35000,NM,New Mexico,NaN,NaN,NaN,"934,027","898,998","35,029",3.8,...,"924,114","863,441","60,673",6.6,"927,355","864,912","62,443",6.7,"45,524",100.0
1862,36000,NY,New York,NaN,NaN,NaN,"9,522,056","9,088,207","433,849",4.6,...,"9,591,213","9,084,594","506,619",5.3,"9,584,450","9,121,323","463,127",4.8,"60,805",100.0
1925,37000,NC,North Carolina,NaN,NaN,NaN,"4,512,856","4,300,304","212,552",4.7,...,"4,768,217","4,493,905","274,312",5.8,"4,875,701","4,629,329","246,372",5.1,"47,884",100.0
2026,38000,ND,North Dakota,NaN,NaN,NaN,"367,234","355,766","11,468",3.1,...,"414,248","402,671","11,577",2.8,"416,227","403,067","13,160",3.2,"61,674",100.0
2080,39000,OH,Ohio,NaN,NaN,NaN,"5,990,292","5,657,718","332,574",5.6,...,"5,691,642","5,412,759","278,883",4.9,"5,713,088","5,430,790","282,298",4.9,"51,086",100.0
2169,40000,OK,Oklahoma,NaN,NaN,NaN,"1,726,259","1,655,490","70,769",4.1,...,"1,833,633","1,753,270","80,363",4.4,"1,828,415","1,739,362","89,053",4.9,"48,595",100.0
2247,41000,OR,Oregon,NaN,NaN,NaN,"1,921,766","1,822,772","98,994",5.2,...,"1,978,010","1,867,187","110,823",5.6,"2,055,114","1,954,821","100,293",4.9,"54,074",100.0
2284,42000,PA,Pennsylvania,NaN,NaN,NaN,"6,342,997","6,064,063","278,934",4.4,...,"6,425,892","6,085,329","340,563",5.3,"6,471,990","6,120,029","351,961",5.4,"55,683",100.0
2352,44000,RI,Rhode Island,NaN,NaN,NaN,"573,173","543,401","29,772",5.2,...,"553,680","520,422","33,258",6.0,"552,219","522,812","29,407",5.3,"57,265",100.0
2358,45000,SC,South Carolina,NaN,NaN,NaN,"2,125,891","2,005,686","120,205",5.7,...,"2,270,383","2,134,637","135,746",6.0,"2,297,807","2,186,740","111,067",4.8,"47,308",100.0
2405,46000,SD,South Dakota,NaN,NaN,NaN,"442,499","430,011","12,488",2.8,...,"450,990","437,135","13,855",3.1,"453,069","440,299","12,770",2.8,"53,263",100.0
2472,47000,TN,Tennessee,NaN,NaN,NaN,"3,063,669","2,920,352","143,317",4.7,...,"3,070,947","2,899,167","171,780",5.6,"3,135,102","2,984,259","150,843",4.8,"47,243",100.0
2568,48000,TX,Texas,NaN,NaN,NaN,"11,431,631","10,941,413","490,218",4.3,...,"13,044,089","12,463,031","581,058",4.5,"13,284,623","12,671,801","612,822",4.6,"55,668",100.0
2823,49000,UT,Utah,NaN,NaN,NaN,"1,359,129","1,324,060","35,069",2.6,...,"1,465,770","1,412,521","53,249",3.6,"1,511,465","1,459,703","51,762",3.4,"62,961",100.0
2853,50000,VT,Vermont,NaN,NaN,NaN,"353,739","339,547","14,192",4.0,...,"345,481","333,122","12,359",3.6,"344,892","333,640","11,252",3.3,"56,883",100.0
2868,51000,VA,Virginia,NaN,NaN,NaN,"4,036,835","3,914,087","122,748",3.0,...,"4,212,051","4,024,208","187,843",4.5,"4,240,403","4,070,260","170,143",4.0,"66,263",100.0
3002,53000,WA,Washington,NaN,NaN,NaN,"3,403,163","3,243,308","159,855",4.7,...,"3,545,672","3,345,835","199,837",5.6,"3,643,881","3,445,880","198,001",5.4,"64,080",100.0
3042,54000,WV,West Virginia,NaN,NaN,NaN,"811,160","773,990","37,170",4.6,...,"783,223","730,304","52,919",6.8,"783,470","736,427","47,043",6.0,"41,969",100.0
3098,55000,WI,Wisconsin,NaN,NaN,NaN,"3,087,828","2,936,452","151,376",4.9,...,"3,094,857","2,953,580","141,277",4.6,"3,120,229","2,991,033","129,196",4.1,"55,623",100.0
3171,56000,WY,Wyoming,NaN,NaN,NaN,"286,560","278,486","8,074",2.8,...,"305,149","292,188","12,961",4.2,"302,331","286,373","15,958",5.3,"61,213",100.0

In [222]:
employment = employment[employment["State"] != "United States"]

In [223]:

employment = employment.drop(["State"], axis = 1)
employment

,FIPS Code,Area_name,Rural_urban_continuum_code_2013,Urban_influence_code_2013,Metro_2015,Civilian_labor_force_2007,Employed_2007,Unemployed_2007,Unemployment_rate_2007,Civilian_labor_force_2008,...,Civilian_labor_force_2015,Employed_2015,Unemployed_2015,Unemployment_rate_2015,Civilian_labor_force_2016,Employed_2016,Unemployed_2016,Unemployment_rate_2016,Med_Household_Income_2015,Med_HH_Income_Percent_of_State_Total_2015
0,1000,Alabama,NaN,NaN,NaN,"2,175,612","2,089,127","86,485",4.0,"2,176,489",...,"2,152,289","2,020,675","131,614",6.1,"2,168,608","2,038,775","129,833",6.0,"44,833",100.0
68,2000,Alaska,NaN,NaN,NaN,"350,785","328,579","22,206",6.3,"356,109",...,"362,663","339,308","23,355",6.4,"360,426","336,620","23,806",6.6,"73,391",100.0
101,4000,Arizona,NaN,NaN,NaN,"3,034,016","2,917,117","116,899",3.9,"3,104,863",...,"3,164,881","2,974,068","190,813",6.0,"3,237,864","3,066,264","171,600",5.3,"51,473",100.0
117,5000,Arkansas,NaN,NaN,NaN,"1,369,284","1,296,572","72,712",5.3,"1,375,257",...,"1,332,579","1,265,174","67,405",5.1,"1,342,691","1,288,994","53,697",4.0,"42,046",100.0
193,6000,California,NaN,NaN,NaN,"17,893,080","16,931,590","961,490",5.4,"18,178,123",...,"18,893,152","17,723,266","1,169,886",6.2,"19,102,726","18,065,043","1,037,683",5.4,"64,483",100.0
252,8000,Colorado,NaN,NaN,NaN,"2,664,677","2,565,218","99,459",3.7,"2,716,625",...,"2,833,509","2,722,985","110,524",3.9,"2,891,046","2,795,233","95,813",3.3,"63,945",100.0
317,9000,Connecticut,NaN,NaN,NaN,"1,856,209","1,773,159","83,050",4.5,"1,881,454",...,"1,890,506","1,782,269","108,237",5.7,"1,891,792","1,795,519","96,273",5.1,"71,333",100.0
326,10000,Delaware,NaN,NaN,NaN,"443,573","428,312","15,261",3.4,"447,041",...,"467,226","444,629","22,597",4.8,"472,676","451,973","20,703",4.4,"61,327",100.0
332,12000,Florida,NaN,NaN,NaN,"9,157,124","8,789,770","367,354",4.0,"9,215,524",...,"9,618,672","9,097,880","520,792",5.4,"9,838,935","9,358,571","480,364",4.9,"49,416",100.0
400,13000,Georgia,NaN,NaN,NaN,"4,815,818","4,597,640","218,178",4.5,"4,879,253",...,"4,787,364","4,502,021","285,343",6.0,"4,920,464","4,656,255","264,209",5.4,"51,225",100.0
560,15000,Hawaii,NaN,NaN,NaN,"638,395","620,535","17,860",2.8,"639,691",...,"674,910","650,767","24,143",3.6,"685,378","664,690","20,688",3.0,"73,097",100.0
565,16000,Idaho,NaN,NaN,NaN,"754,438","731,235","23,203",3.1,"755,153",...,"797,049","763,402","33,647",4.2,"814,571","783,434","31,137",3.8,"48,311",100.0
610,17000,Illinois,NaN,NaN,NaN,"6,665,601","6,334,010","331,591",5.0,"6,657,227",...,"6,507,312","6,120,860","386,452",5.9,"6,539,008","6,154,867","384,141",5.9,"59,590",100.0
713,18000,Indiana,NaN,NaN,NaN,"3,207,687","3,061,042","146,645",4.6,"3,232,097",...,"3,271,536","3,114,002","157,534",4.8,"3,326,893","3,179,806","147,087",4.4,"50,510",100.0
806,19000,Iowa,NaN,NaN,NaN,"1,660,677","1,599,332","61,345",3.7,"1,679,293",...,"1,702,569","1,637,667","64,902",3.8,"1,700,683","1,638,288","62,395",3.7,"54,843",100.0
906,20000,Kansas,NaN,NaN,NaN,"1,483,458","1,420,449","63,009",4.2,"1,499,676",...,"1,489,165","1,426,764","62,401",4.2,"1,484,001","1,422,122","61,879",4.2,"53,802",100.0
1012,21000,Kentucky,NaN,NaN,NaN,"2,032,082","1,922,220","109,862",5.4,"2,030,738",...,"1,965,666","1,861,522","104,144",5.3,"1,991,974","1,892,273","99,701",5.0,"45,178",100.0
1133,22000,Louisiana,NaN,NaN,NaN,"2,030,434","1,944,038","86,396",4.3,"2,084,835",...,"2,161,017","2,024,142","136,875",6.3,"2,121,230","1,992,125","129,105",6.1,"45,829",100.0
1198,23000,Maine,NaN,NaN,NaN,"700,468","667,781","32,687",4.7,"701,646",...,"682,701","652,777","29,924",4.4,"690,624","664,010","26,614",3.9,"51,419",100.0
1215,24000,Maryland,NaN,NaN,NaN,"2,970,094","2,867,348","102,746",3.5,"3,001,953",...,"3,147,440","2,986,815","160,625",5.1,"3,170,011","3,034,131","135,880",4.3,"75,784",100.0
1240,25000,Massachusetts,NaN,NaN,NaN,"3,426,009","3,268,096","157,913",4.6,"3,452,468",...,"3,579,691","3,405,825","173,866",4.9,"3,588,610","3,455,827","132,783",3.7,"70,659",100.0
1255,26000,Michigan,NaN,NaN,NaN,"5,011,120","4,658,939","352,181",7.0,"4,921,466",...,"4,757,457","4,499,998","257,459",5.4,"4,836,760","4,599,049","237,711",4.9,"51,063",100.0
1339,27000,Minnesota,NaN,NaN,NaN,"2,906,390","2,773,704","132,686",4.6,"2,925,088",...,"2,975,533","2,864,584","110,949",3.7,"3,001,131","2,884,091","117,040",3.9,"63,459",100.0
1427,28000,Mississippi,NaN,NaN,NaN,"1,303,514","1,224,059","79,455",6.1,"1,306,772",...,"1,269,933","1,188,592","81,341",6.4,"1,280,432","1,205,779","74,653",5.8,"40,630",100.0
1510,29000,Missouri,NaN,NaN,NaN,"3,034,579","2,879,647","154,932",5.1,"3,028,857",...,"3,096,678","2,941,821","154,857",5.0,"3,111,517","2,970,702","140,815",4.5,"50,200",100.0
1626,30000,Montana,NaN,NaN,NaN,"502,070","484,189","17,881",3.6,"509,163",...,"519,665","498,092","21,573",4.2,"526,404","504,573","21,831",4.1,"49,650",100.0
1683,31000,Nebraska,NaN,NaN,NaN,"978,763","949,494","29,269",3.0,"989,757",...,"1,008,388","977,669","30,719",3.0,"1,011,041","978,567","32,474",3.2,"55,073",100.0
1777,32000,Nevada,NaN,NaN,NaN,"1,330,396","1,270,572","59,824",4.5,"1,363,574",...,"1,414,711","1,318,473","96,238",6.8,"1,427,114","1,346,008","81,106",5.7,"52,544",100.0
1795,33000,New Hampshire,NaN,NaN,NaN,"737,942","712,008","25,934",3.5,"742,781",...,"742,789","717,726","25,063",3.4,"748,563","727,420","21,143",2.8,"70,003",100.0
1806,34000,New Jersey,NaN,NaN,NaN,"4,441,797","4,251,815","189,982",4.3,"4,504,432",...,"4,530,546","4,267,904","262,642",5.8,"4,524,258","4,299,931","224,327",5.0,"72,337",100.0
1828,35000,New Mexico,NaN,NaN,NaN,"934,027","898,998","35,029",3.8,"944,548",...,"924,114","863,441","60,673",6.6,"927,355","864,912","62,443",6.7,"45,524",100.0
1862,36000,New York,NaN,NaN,NaN,"9,522,056","9,088,207","433,849",4.6,"9,664,773",...,"9,591,213","9,084,594","506,619",5.3,"9,584,450","9,121,323","463,127",4.8,"60,805",100.0
1925,37000,North Carolina,NaN,NaN,NaN,"4,512,856","4,300,304","212,552",4.7,"4,560,059",...,"4,768,217","4,493,905","274,312",5.8,"4,875,701","4,629,329","246,372",5.1,"47,884",100.0
2026,38000,North Dakota,NaN,NaN,NaN,"367,234","355,766","11,468",3.1,"371,025",...,"414,248","402,671","11,577",2.8,"416,227","403,067","13,160",3.2,"61,674",100.0
2080,39000,Ohio,NaN,NaN,NaN,"5,990,292","5,657,718","332,574",5.6,"5,965,166",...,"5,691,642","5,412,759","278,883",4.9,"5,713,088","5,430,790","282,298",4.9,"51,086",100.0
2169,40000,Oklahoma,NaN,NaN,NaN,"1,726,259","1,655,490","70,769",4.1,"1,746,466",...,"1,833,633","1,753,270","80,363",4.4,"1,828,415","1,739,362","89,053",4.9,"48,595",100.0
2247,41000,Oregon,NaN,NaN,NaN,"1,921,766","1,822,772","98,994",5.2,"1,955,121",...,"1,978,010","1,867,187","110,823",5.6,"2,055,114","1,954,821","100,293",4.9,"54,074",100.0
2284,42000,Pennsylvania,NaN,NaN,NaN,"6,342,997","6,064,063","278,934",4.4,"6,451,535",...,"6,425,892","6,085,329","340,563",5.3,"6,471,990","6,120,029","351,961",5.4,"55,683",100.0
2352,44000,Rhode Island,NaN,NaN,NaN,"573,173","543,401","29,772",5.2,"570,328",...,"553,680","520,422","33,258",6.0,"552,219","522,812","29,407",5.3,"57,265",100.0
2358,45000,South Carolina,NaN,NaN,NaN,"2,125,891","2,005,686","120,205",5.7,"2,142,232",...,"2,270,383","2,134,637","135,746",6.0,"2,297,807","2,186,740","111,067",4.8,"47,308",100.0
2405,46000,South Dakota,NaN,NaN,NaN,"442,499","430,011","12,488",2.8,"446,618",...,"450,990","437,135","13,855",3.1,"453,069","440,299","12,770",2.8,"53,263",100.0
2472,47000,Tennessee,NaN,NaN,NaN,"3,063,669","2,920,352","143,317",4.7,"3,054,785",...,"3,070,947","2,899,167","171,780",5.6,"3,135,102","2,984,259","150,843",4.8,"47,243",100.0
2568,48000,Texas,NaN,NaN,NaN,"11,431,631","10,941,413","490,218",4.3,"11,664,390",...,"13,044,089","12,463,031","581,058",4.5,"13,284,623","12,671,801","612,822",4.6,"55,668",100.0
2823,49000,Utah,NaN,NaN,NaN,"1,359,129","1,324,060","35,069",2.6,"1,371,201",...,"1,465,770","1,412,521","53,249",3.6,"1,511,465","1,459,703","51,762",3.4,"62,961",100.0
2853,50000,Vermont,NaN,NaN,NaN,"353,739","339,547","14,192",4.0,"354,899",...,"345,481","333,122","12,359",3.6,"344,892","333,640","11,252",3.3,"56,883",100.0
2868,51000,Virginia,NaN,NaN,NaN,"4,036,835","3,914,087","122,748",3.0,"4,133,443",...,"4,212,051","4,024,208","187,843",4.5,"4,240,403","4,070,260","170,143",4.0,"66,263",100.0
3002,53000,Washington,NaN,NaN,NaN,"3,403,163","3,243,308","159,855",4.7,"3,478,577",...,"3,545,672","3,345,835","199,837",5.6,"3,643,881","3,445,880","198,001",5.4,"64,080",100.0
3042,54000,West Virginia,NaN,NaN,NaN,"811,160","773,990","37,170",4.6,"812,905",...,"783,223","730,304","52,919",6.8,"783,470","736,427","47,043",6.0,"41,969",100.0
3098,55000,Wisconsin,NaN,NaN,NaN,"3,087,828","2,936,452","151,376",4.9,"3,091,796",...,"3,094,857","2,953,580","141,277",4.6,"3,120,229","2,991,033","129,196",4.1,"55,623",100.0
3171,56000,Wyoming,NaN,NaN,NaN,"286,560","278,486","8,074",2.8,"293,279",...,"305,149","292,188","12,961",4.2,"302,331","286,373","15,958",5.3,"61,213",100.0

In [224]:
employment.rename(columns = {"Area_name":"State"}, inplace = True)
employment

,FIPS Code,State,Rural_urban_continuum_code_2013,Urban_influence_code_2013,Metro_2015,Civilian_labor_force_2007,Employed_2007,Unemployed_2007,Unemployment_rate_2007,Civilian_labor_force_2008,...,Civilian_labor_force_2015,Employed_2015,Unemployed_2015,Unemployment_rate_2015,Civilian_labor_force_2016,Employed_2016,Unemployed_2016,Unemployment_rate_2016,Med_Household_Income_2015,Med_HH_Income_Percent_of_State_Total_2015
0,1000,Alabama,NaN,NaN,NaN,"2,175,612","2,089,127","86,485",4.0,"2,176,489",...,"2,152,289","2,020,675","131,614",6.1,"2,168,608","2,038,775","129,833",6.0,"44,833",100.0
68,2000,Alaska,NaN,NaN,NaN,"350,785","328,579","22,206",6.3,"356,109",...,"362,663","339,308","23,355",6.4,"360,426","336,620","23,806",6.6,"73,391",100.0
101,4000,Arizona,NaN,NaN,NaN,"3,034,016","2,917,117","116,899",3.9,"3,104,863",...,"3,164,881","2,974,068","190,813",6.0,"3,237,864","3,066,264","171,600",5.3,"51,473",100.0
117,5000,Arkansas,NaN,NaN,NaN,"1,369,284","1,296,572","72,712",5.3,"1,375,257",...,"1,332,579","1,265,174","67,405",5.1,"1,342,691","1,288,994","53,697",4.0,"42,046",100.0
193,6000,California,NaN,NaN,NaN,"17,893,080","16,931,590","961,490",5.4,"18,178,123",...,"18,893,152","17,723,266","1,169,886",6.2,"19,102,726","18,065,043","1,037,683",5.4,"64,483",100.0
252,8000,Colorado,NaN,NaN,NaN,"2,664,677","2,565,218","99,459",3.7,"2,716,625",...,"2,833,509","2,722,985","110,524",3.9,"2,891,046","2,795,233","95,813",3.3,"63,945",100.0
317,9000,Connecticut,NaN,NaN,NaN,"1,856,209","1,773,159","83,050",4.5,"1,881,454",...,"1,890,506","1,782,269","108,237",5.7,"1,891,792","1,795,519","96,273",5.1,"71,333",100.0
326,10000,Delaware,NaN,NaN,NaN,"443,573","428,312","15,261",3.4,"447,041",...,"467,226","444,629","22,597",4.8,"472,676","451,973","20,703",4.4,"61,327",100.0
332,12000,Florida,NaN,NaN,NaN,"9,157,124","8,789,770","367,354",4.0,"9,215,524",...,"9,618,672","9,097,880","520,792",5.4,"9,838,935","9,358,571","480,364",4.9,"49,416",100.0
400,13000,Georgia,NaN,NaN,NaN,"4,815,818","4,597,640","218,178",4.5,"4,879,253",...,"4,787,364","4,502,021","285,343",6.0,"4,920,464","4,656,255","264,209",5.4,"51,225",100.0
560,15000,Hawaii,NaN,NaN,NaN,"638,395","620,535","17,860",2.8,"639,691",...,"674,910","650,767","24,143",3.6,"685,378","664,690","20,688",3.0,"73,097",100.0
565,16000,Idaho,NaN,NaN,NaN,"754,438","731,235","23,203",3.1,"755,153",...,"797,049","763,402","33,647",4.2,"814,571","783,434","31,137",3.8,"48,311",100.0
610,17000,Illinois,NaN,NaN,NaN,"6,665,601","6,334,010","331,591",5.0,"6,657,227",...,"6,507,312","6,120,860","386,452",5.9,"6,539,008","6,154,867","384,141",5.9,"59,590",100.0
713,18000,Indiana,NaN,NaN,NaN,"3,207,687","3,061,042","146,645",4.6,"3,232,097",...,"3,271,536","3,114,002","157,534",4.8,"3,326,893","3,179,806","147,087",4.4,"50,510",100.0
806,19000,Iowa,NaN,NaN,NaN,"1,660,677","1,599,332","61,345",3.7,"1,679,293",...,"1,702,569","1,637,667","64,902",3.8,"1,700,683","1,638,288","62,395",3.7,"54,843",100.0
906,20000,Kansas,NaN,NaN,NaN,"1,483,458","1,420,449","63,009",4.2,"1,499,676",...,"1,489,165","1,426,764","62,401",4.2,"1,484,001","1,422,122","61,879",4.2,"53,802",100.0
1012,21000,Kentucky,NaN,NaN,NaN,"2,032,082","1,922,220","109,862",5.4,"2,030,738",...,"1,965,666","1,861,522","104,144",5.3,"1,991,974","1,892,273","99,701",5.0,"45,178",100.0
1133,22000,Louisiana,NaN,NaN,NaN,"2,030,434","1,944,038","86,396",4.3,"2,084,835",...,"2,161,017","2,024,142","136,875",6.3,"2,121,230","1,992,125","129,105",6.1,"45,829",100.0
1198,23000,Maine,NaN,NaN,NaN,"700,468","667,781","32,687",4.7,"701,646",...,"682,701","652,777","29,924",4.4,"690,624","664,010","26,614",3.9,"51,419",100.0
1215,24000,Maryland,NaN,NaN,NaN,"2,970,094","2,867,348","102,746",3.5,"3,001,953",...,"3,147,440","2,986,815","160,625",5.1,"3,170,011","3,034,131","135,880",4.3,"75,784",100.0
1240,25000,Massachusetts,NaN,NaN,NaN,"3,426,009","3,268,096","157,913",4.6,"3,452,468",...,"3,579,691","3,405,825","173,866",4.9,"3,588,610","3,455,827","132,783",3.7,"70,659",100.0
1255,26000,Michigan,NaN,NaN,NaN,"5,011,120","4,658,939","352,181",7.0,"4,921,466",...,"4,757,457","4,499,998","257,459",5.4,"4,836,760","4,599,049","237,711",4.9,"51,063",100.0
1339,27000,Minnesota,NaN,NaN,NaN,"2,906,390","2,773,704","132,686",4.6,"2,925,088",...,"2,975,533","2,864,584","110,949",3.7,"3,001,131","2,884,091","117,040",3.9,"63,459",100.0
1427,28000,Mississippi,NaN,NaN,NaN,"1,303,514","1,224,059","79,455",6.1,"1,306,772",...,"1,269,933","1,188,592","81,341",6.4,"1,280,432","1,205,779","74,653",5.8,"40,630",100.0
1510,29000,Missouri,NaN,NaN,NaN,"3,034,579","2,879,647","154,932",5.1,"3,028,857",...,"3,096,678","2,941,821","154,857",5.0,"3,111,517","2,970,702","140,815",4.5,"50,200",100.0
1626,30000,Montana,NaN,NaN,NaN,"502,070","484,189","17,881",3.6,"509,163",...,"519,665","498,092","21,573",4.2,"526,404","504,573","21,831",4.1,"49,650",100.0
1683,31000,Nebraska,NaN,NaN,NaN,"978,763","949,494","29,269",3.0,"989,757",...,"1,008,388","977,669","30,719",3.0,"1,011,041","978,567","32,474",3.2,"55,073",100.0
1777,32000,Nevada,NaN,NaN,NaN,"1,330,396","1,270,572","59,824",4.5,"1,363,574",...,"1,414,711","1,318,473","96,238",6.8,"1,427,114","1,346,008","81,106",5.7,"52,544",100.0
1795,33000,New Hampshire,NaN,NaN,NaN,"737,942","712,008","25,934",3.5,"742,781",...,"742,789","717,726","25,063",3.4,"748,563","727,420","21,143",2.8,"70,003",100.0
1806,34000,New Jersey,NaN,NaN,NaN,"4,441,797","4,251,815","189,982",4.3,"4,504,432",...,"4,530,546","4,267,904","262,642",5.8,"4,524,258","4,299,931","224,327",5.0,"72,337",100.0
1828,35000,New Mexico,NaN,NaN,NaN,"934,027","898,998","35,029",3.8,"944,548",...,"924,114","863,441","60,673",6.6,"927,355","864,912","62,443",6.7,"45,524",100.0
1862,36000,New York,NaN,NaN,NaN,"9,522,056","9,088,207","433,849",4.6,"9,664,773",...,"9,591,213","9,084,594","506,619",5.3,"9,584,450","9,121,323","463,127",4.8,"60,805",100.0
1925,37000,North Carolina,NaN,NaN,NaN,"4,512,856","4,300,304","212,552",4.7,"4,560,059",...,"4,768,217","4,493,905","274,312",5.8,"4,875,701","4,629,329","246,372",5.1,"47,884",100.0
2026,38000,North Dakota,NaN,NaN,NaN,"367,234","355,766","11,468",3.1,"371,025",...,"414,248","402,671","11,577",2.8,"416,227","403,067","13,160",3.2,"61,674",100.0
2080,39000,Ohio,NaN,NaN,NaN,"5,990,292","5,657,718","332,574",5.6,"5,965,166",...,"5,691,642","5,412,759","278,883",4.9,"5,713,088","5,430,790","282,298",4.9,"51,086",100.0
2169,40000,Oklahoma,NaN,NaN,NaN,"1,726,259","1,655,490","70,769",4.1,"1,746,466",...,"1,833,633","1,753,270","80,363",4.4,"1,828,415","1,739,362","89,053",4.9,"48,595",100.0
2247,41000,Oregon,NaN,NaN,NaN,"1,921,766","1,822,772","98,994",5.2,"1,955,121",...,"1,978,010","1,867,187","110,823",5.6,"2,055,114","1,954,821","100,293",4.9,"54,074",100.0
2284,42000,Pennsylvania,NaN,NaN,NaN,"6,342,997","6,064,063","278,934",4.4,"6,451,535",...,"6,425,892","6,085,329","340,563",5.3,"6,471,990","6,120,029","351,961",5.4,"55,683",100.0
2352,44000,Rhode Island,NaN,NaN,NaN,"573,173","543,401","29,772",5.2,"570,328",...,"553,680","520,422","33,258",6.0,"552,219","522,812","29,407",5.3,"57,265",100.0
2358,45000,South Carolina,NaN,NaN,NaN,"2,125,891","2,005,686","120,205",5.7,"2,142,232",...,"2,270,383","2,134,637","135,746",6.0,"2,297,807","2,186,740","111,067",4.8,"47,308",100.0
2405,46000,South Dakota,NaN,NaN,NaN,"442,499","430,011","12,488",2.8,"446,618",...,"450,990","437,135","13,855",3.1,"453,069","440,299","12,770",2.8,"53,263",100.0
2472,47000,Tennessee,NaN,NaN,NaN,"3,063,669","2,920,352","143,317",4.7,"3,054,785",...,"3,070,947","2,899,167","171,780",5.6,"3,135,102","2,984,259","150,843",4.8,"47,243",100.0
2568,48000,Texas,NaN,NaN,NaN,"11,431,631","10,941,413","490,218",4.3,"11,664,390",...,"13,044,089","12,463,031","581,058",4.5,"13,284,623","12,671,801","612,822",4.6,"55,668",100.0
2823,49000,Utah,NaN,NaN,NaN,"1,359,129","1,324,060","35,069",2.6,"1,371,201",...,"1,465,770","1,412,521","53,249",3.6,"1,511,465","1,459,703","51,762",3.4,"62,961",100.0
2853,50000,Vermont,NaN,NaN,NaN,"353,739","339,547","14,192",4.0,"354,899",...,"345,481","333,122","12,359",3.6,"344,892","333,640","11,252",3.3,"56,883",100.0
2868,51000,Virginia,NaN,NaN,NaN,"4,036,835","3,914,087","122,748",3.0,"4,133,443",...,"4,212,051","4,024,208","187,843",4.5,"4,240,403","4,070,260","170,143",4.0,"66,263",100.0
3002,53000,Washington,NaN,NaN,NaN,"3,403,163","3,243,308","159,855",4.7,"3,478,577",...,"3,545,672","3,345,835","199,837",5.6,"3,643,881","3,445,880","198,001",5.4,"64,080",100.0
3042,54000,West Virginia,NaN,NaN,NaN,"811,160","773,990","37,170",4.6,"812,905",...,"783,223","730,304","52,919",6.8,"783,470","736,427","47,043",6.0,"41,969",100.0
3098,55000,Wisconsin,NaN,NaN,NaN,"3,087,828","2,936,452","151,376",4.9,"3,091,796",...,"3,094,857","2,953,580","141,277",4.6,"3,120,229","2,991,033","129,196",4.1,"55,623",100.0
3171,56000,Wyoming,NaN,NaN,NaN,"286,560","278,486","8,074",2.8,"293,279",...,"305,149","292,188","12,961",4.2,"302,331","286,373","15,958",5.3,"61,213",100.0

In [225]:

employment = employment.drop(['FIPS Code','Rural_urban_continuum_code_2013',
       'Urban_influence_code_2013', 'Metro_2015', 'Civilian_labor_force_2007',
       'Employed_2007', 'Unemployed_2007', 'Unemployment_rate_2007',
       'Civilian_labor_force_2008', 'Employed_2008', 'Unemployed_2008',
       'Unemployment_rate_2008', 'Civilian_labor_force_2009', 'Employed_2009',
       'Unemployed_2009', 'Unemployment_rate_2009'], axis = 1)
employment.head(10)

,State,Civilian_labor_force_2010,Employed_2010,Unemployed_2010,Unemployment_rate_2010,Civilian_labor_force_2011,Employed_2011,Unemployed_2011,Unemployment_rate_2011,Civilian_labor_force_2012,...,Civilian_labor_force_2015,Employed_2015,Unemployed_2015,Unemployment_rate_2015,Civilian_labor_force_2016,Employed_2016,Unemployed_2016,Unemployment_rate_2016,Med_Household_Income_2015,Med_HH_Income_Percent_of_State_Total_2015
0,Alabama,"2,196,042","1,964,559","231,483",10.5,"2,202,670","1,990,413","212,257",9.6,"2,176,337",...,"2,152,289","2,020,675","131,614",6.1,"2,168,608","2,038,775","129,833",6.0,"44,833",100.0
68,Alaska,"361,913","333,416","28,497",7.9,"365,913","338,161","27,752",7.6,"365,519",...,"362,663","339,308","23,355",6.4,"360,426","336,620","23,806",6.6,"73,391",100.0
101,Arizona,"3,089,705","2,769,454","320,251",10.4,"3,037,017","2,748,470","288,547",9.5,"3,028,878",...,"3,164,881","2,974,068","190,813",6.0,"3,237,864","3,066,264","171,600",5.3,"51,473",100.0
117,Arkansas,"1,353,338","1,242,496","110,842",8.2,"1,362,682","1,249,514","113,168",8.3,"1,342,753",...,"1,332,579","1,265,174","67,405",5.1,"1,342,691","1,288,994","53,697",4.0,"42,046",100.0
193,California,"18,336,271","16,091,945","2,244,326",12.2,"18,415,100","16,258,133","2,156,967",11.7,"18,523,793",...,"18,893,152","17,723,266","1,169,886",6.2,"19,102,726","18,065,043","1,037,683",5.4,"64,483",100.0
252,Colorado,"2,724,417","2,486,404","238,013",8.7,"2,736,079","2,507,265","228,814",8.4,"2,757,222",...,"2,833,509","2,722,985","110,524",3.9,"2,891,046","2,795,233","95,813",3.3,"63,945",100.0
317,Connecticut,"1,911,712","1,737,449","174,263",9.1,"1,914,775","1,745,967","168,808",8.8,"1,887,419",...,"1,890,506","1,782,269","108,237",5.7,"1,891,792","1,795,519","96,273",5.1,"71,333",100.0
326,Delaware,"434,419","397,869","36,550",8.4,"443,346","410,086","33,260",7.5,"445,572",...,"467,226","444,629","22,597",4.8,"472,676","451,973","20,703",4.4,"61,327",100.0
332,Florida,"9,212,066","8,193,659","1,018,407",11.1,"9,300,542","8,371,638","928,904",10.0,"9,382,993",...,"9,618,672","9,097,880","520,792",5.4,"9,838,935","9,358,571","480,364",4.9,"49,416",100.0
400,Georgia,"4,696,676","4,202,052","494,624",10.5,"4,748,754","4,263,305","485,449",10.2,"4,787,367",...,"4,787,364","4,502,021","285,343",6.0,"4,920,464","4,656,255","264,209",5.4,"51,225",100.0

In [226]:
new_employment = employment[["State","Unemployment_rate_2010","Unemployment_rate_2015"]]
new_employment

               State  Unemployment_rate_2010  Unemployment_rate_2015
0            Alabama                    10.5                     6.1
68            Alaska                     7.9                     6.4
101          Arizona                    10.4                     6.0
117         Arkansas                     8.2                     5.1
193       California                    12.2                     6.2
252         Colorado                     8.7                     3.9
317      Connecticut                     9.1                     5.7
326         Delaware                     8.4                     4.8
332          Florida                    11.1                     5.4
400          Georgia                    10.5                     6.0
560           Hawaii                     6.9                     3.6
565            Idaho                     9.0                     4.2
610         Illinois                    10.4                     5.9
713          Indiana                    10.4                     4.8
806             Iowa                     6.0                     3.8
906           Kansas                     7.1                     4.2
1012        Kentucky                    10.2                     5.3
1133       Louisiana                     8.0                     6.3
1198           Maine                     8.1                     4.4
1215        Maryland                     7.7                     5.1
1240   Massachusetts                     8.3                     4.9
1255        Michigan                    12.6                     5.4
1339       Minnesota                     7.4                     3.7
1427     Mississippi                    10.4                     6.4
1510        Missouri                     9.6                     5.0
1626         Montana                     7.3                     4.2
1683        Nebraska                     4.6                     3.0
1777          Nevada                    13.5                     6.8
1795   New Hampshire                     5.8                     3.4
1806      New Jersey                     9.5                     5.8
1828      New Mexico                     8.1                     6.6
1862        New York                     8.6                     5.3
1925  North Carolina                    10.9                     5.8
2026    North Dakota                     3.8                     2.8
2080            Ohio                    10.3                     4.9
2169        Oklahoma                     6.8                     4.4
2247          Oregon                    10.6                     5.6
2284    Pennsylvania                     8.5                     5.3
2352    Rhode Island                    11.2                     6.0
2358  South Carolina                    11.2                     6.0
2405    South Dakota                     5.0                     3.1
2472       Tennessee                     9.7                     5.6
2568           Texas                     8.1                     4.5
2823            Utah                     7.8                     3.6
2853         Vermont                     6.1                     3.6
2868        Virginia                     7.1                     4.5
3002      Washington                    10.0                     5.6
3042   West Virginia                     8.7                     6.8
3098       Wisconsin                     8.7                     4.6
3171         Wyoming                     6.4                     4.2

In [227]:
new_df = pd.merge(new_employment, new_insurance, how='left', sort=True, on=["State"])

new_df

,State,Unemployment_rate_2010,Unemployment_rate_2015,Uninsured Rate_2010,Uninsured Rate_2015
0,Alabama,10.5,6.1,NaN,NaN
1,Alaska,7.9,6.4,NaN,NaN
2,Arizona,10.4,6.0,NaN,NaN
3,Arkansas,8.2,5.1,NaN,NaN
4,California,12.2,6.2,18.50%,8.60%
5,Colorado,8.7,3.9,15.90%,8.10%
6,Connecticut,9.1,5.7,9.10%,6%
7,Delaware,8.4,4.8,NaN,NaN
8,Florida,11.1,5.4,NaN,NaN
9,Georgia,10.5,6.0,NaN,NaN
10,Hawaii,6.9,3.6,7.90%,4%
11,Idaho,9.0,4.2,17.70%,11%
12,Illinois,10.4,5.9,NaN,NaN
13,Indiana,10.4,4.8,NaN,NaN
14,Iowa,6.0,3.8,NaN,NaN
15,Kansas,7.1,4.2,NaN,NaN
16,Kentucky,10.2,5.3,15.30%,6%
17,Louisiana,8.0,6.3,NaN,NaN
18,Maine,8.1,4.4,NaN,NaN
19,Maryland,7.7,5.1,11.30%,6.60%
20,Massachusetts,8.3,4.9,4.40%,2.80%
21,Michigan,12.6,5.4,NaN,NaN
22,Minnesota,7.4,3.7,9.10%,4.50%
23,Mississippi,10.4,6.4,NaN,NaN
24,Missouri,9.6,5.0,NaN,NaN
25,Montana,7.3,4.2,NaN,NaN
26,Nebraska,4.6,3.0,NaN,NaN
27,Nevada,13.5,6.8,22.60%,12.30%
28,New Hampshire,5.8,3.4,NaN,NaN
29,New Jersey,9.5,5.8,NaN,NaN
30,New Mexico,8.1,6.6,19.60%,10.90%
31,New York,8.6,5.3,11.90%,7.10%
32,North Carolina,10.9,5.8,NaN,NaN
33,North Dakota,3.8,2.8,NaN,NaN
34,Ohio,10.3,4.9,NaN,NaN
35,Oklahoma,6.8,4.4,NaN,NaN
36,Oregon,10.6,5.6,17.10%,7%
37,Pennsylvania,8.5,5.3,NaN,NaN
38,Rhode Island,11.2,6.0,12.20%,5.70%
39,South Carolina,11.2,6.0,NaN,NaN
40,South Dakota,5.0,3.1,NaN,NaN
41,Tennessee,9.7,5.6,NaN,NaN
42,Texas,8.1,4.5,NaN,NaN
43,Utah,7.8,3.6,NaN,NaN
44,Vermont,6.1,3.6,8%,3.80%
45,Virginia,7.1,4.5,NaN,NaN
46,Washington,10.0,5.6,14.20%,6.60%
47,West Virginia,8.7,6.8,NaN,NaN
48,Wisconsin,8.7,4.6,NaN,NaN
49,Wyoming,6.4,4.2,14.90%,11.50%

In [228]:
new_df.dropna()

,State,Unemployment_rate_2010,Unemployment_rate_2015,Uninsured Rate_2010,Uninsured Rate_2015
4,California,12.2,6.2,18.50%,8.60%
5,Colorado,8.7,3.9,15.90%,8.10%
6,Connecticut,9.1,5.7,9.10%,6%
10,Hawaii,6.9,3.6,7.90%,4%
11,Idaho,9.0,4.2,17.70%,11%
16,Kentucky,10.2,5.3,15.30%,6%
19,Maryland,7.7,5.1,11.30%,6.60%
20,Massachusetts,8.3,4.9,4.40%,2.80%
22,Minnesota,7.4,3.7,9.10%,4.50%
27,Nevada,13.5,6.8,22.60%,12.30%
30,New Mexico,8.1,6.6,19.60%,10.90%
31,New York,8.6,5.3,11.90%,7.10%
36,Oregon,10.6,5.6,17.10%,7%
38,Rhode Island,11.2,6.0,12.20%,5.70%
44,Vermont,6.1,3.6,8%,3.80%
46,Washington,10.0,5.6,14.20%,6.60%
49,Wyoming,6.4,4.2,14.90%,11.50%

In [229]:
connection_string = "postgres:postgres@localhost:5432/Etl_db"
engine = create_engine(f'postgresql://{connection_string}')

In [230]:
# Confirm tables
engine.table_names()

['new_employment', 'new_insurance']

In [231]:
new_insurance.to_sql(name='new_insurance', con=engine, if_exists='append', index=True)

In [235]:
new_employment.to_sql(name="new_employment", con=engine, if_exists='append', index=True)

In [236]:
pd.read_sql_query("select * new_insurance", con=engine).head()

ProgrammingError: (psycopg2.errors.SyntaxError) syntax error at or near "new_insurance"
LINE 1: select * new_insurance
                 ^
 [SQL: 'select * new_insurance'] (Background on this error at: http://sqlalche.me/e/f405)